{% include 'navbar.html' %}
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/default_style.css' %}">
    </head>

    <body>
        <h1>Home page</h1>
        This is a website with different web applications
        <section class="container">
            <p>Available apps:</p>
            <p><a href="todo" class="button">To-do list</a></p>
            <p><a href="todo_api" class="button">To-do list API</a></p>
        </section>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </body>
</html>

{% include 'contacts.html' %}