{% include 'navbar.html' %}
{% load static %}

<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <link rel="stylesheet" href="{% static 'css/default_style.css' %}">
        <style>
            .to-do-item {
                flex-basis: 20vw;
                max-width: 20vw;
            }
        </style>
    </head>
    <body>
        <main>
            <h1>Current to-dos</h1>
            <p>(Click the name of the to-do to modify, press "×" to delete)</p>
            <div class="container">
                Categories: 
                <a href="{% url 'todo-home' %}" class="button">All</a>
                {% for subject in subjects %}
                    <!-- question mark is used for key word argument (?query=xxx) etc. -->
                    <a href="{% url 'todo-home' %}?q={{subject.name}}" class="button">{{subject.name}}</a>
                {% endfor %}
            </div>
    
            <div class="flex-container">
                {% for todo in todos %}
                    <div class="container flex-box to-do-item">
                        Title:
                        <a href="{% url 'modify-todo' todo.id %}" class="button">
                            {{todo.title}}
                        </a>
                        <a href="{% url 'delete-todo' todo.id %}" class="delete-button">
                            ×
                        </a>
                        <p>Subject: {{todo.subject}} </p>
                        <p>Due date: {{todo.due_date}}</p>
                        <p>Completed: {{todo.completed}}</p>
                    </div>
                {% endfor %}
                <div class="container flex-box to-do-item" style="display:inline-flex; justify-content: center; align-items: center;">
                    <a href="{% url 'create-todo' %}" class="button flex-box">+ Create a new to-do</a>
                </div>
            </div>
        </main>
    </body>
</html>

{% include 'contacts.html' %}

