{% include 'navbar.html' %}
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/default_style.css' %}">
        <style>
            .todo-item {
                display: inline-block;
                margin: 2%;
                width: 25%;
                height: 25%;
            }
        </style>
    </head>
    <body>
        <h1>Current to-dos</h1>
        <section class="container">
            Categories: 
            <a href="{% url 'todo-home' %}" class="button">All</a>
            {% for subject in subjects %}
                <!-- question mark is used for key word argument (?query=xxx) etc. -->
                <a href="{% url 'todo-home' %}?q={{subject.name}}" class="button">{{subject.name}}</a>
            {% endfor %}
        </section>

        <section>
            <div>
                <p>(Click the name of the to-do to modify, press "×" to delete)</p>
                {% for todo in todos %}
                    <div class="todo-item container" style="align-items: center;">
                        Title:
                        <a href="{% url 'modify-todo' todo.id %}" class="button">
                            {{todo.title}}
                        </a>
                        <a href="{% url 'delete-todo' todo.id %}" class="delete-button">
                            ×
                        </a>
                        <p>Subject: {{todo.subject}} </p>
                        <p>Due date: {{todo.due_date}}</p>
                        <p>Completed: {{todo.completed}}</p>
                    </div>
                {% endfor %}
            </div>
            <a href="{% url 'create-todo' %}" class="button">Create a new to-do</a>
        </section>
    </body>
</html>

{% include 'contacts.html' %}

