
body {
    background-color: rgb(36, 36, 36);
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

body h1 {
    border-bottom: 2px solid;
    border-color: rgb(83, 83, 83);
}

.container {
    text-align: center;
    border: 4px solid;
    border-radius: 8px;
    border-color: black;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

a:link, a:visited {
    color: white;

}

a:hover, a:active {
    color: lightblue;
}

a.button {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: black;
    background-color: lightblue;

    border: 5px;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(0, 128, 255);
    cursor: pointer;
    padding: 10px;
}

a.button:hover, a.button:active {
    background-color: rgb(97, 192, 224);
}

a.delete-button {
    display: inline-block;
    font-size: 20px;
    width: 20px;
    text-decoration: none;
    color: black;
    background-color: lightcoral;

    cursor: pointer;

}

a.delete-button:hover, a.delete-button:active {
    background-color: rgb(247, 83, 83);
}




