{% include 'navigationbar.html' %}
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/default_style.css' %}">
    </head>

    <body>
        {% if not todo %}
            <h1>Creating new to-do</h1>
            <form method="POST" id="todo-form" action="">
                {% csrf_token %}
                {{ form.as_table }}
                <button type="submit">Submit</button>
            </form>
        {% else %}
            <h1>Modifying to-do: {{todo}}</h1>
            <form method="POST" id="todo-form" action="">
                {% csrf_token %}
                {{ form.as_table }}
                <button type="submit">Save</button>
            </form>
            

        {% endif %}
    </body>
</html>

{% include 'contacts.html' %}
