{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/default_style.css' %}">
    </head>

    <body>
        <section class="rounded-section">
            <a href="/" class="bordered-text"> {# return home page #}
                Home
            </a>
    
            <a href="/about/" class="bordered-text"> {# start with '/': absolute path #}
                About
            </a>
    
            <a href="#contacts/" class="bordered-text"> {# all pages has contact section at #}
                {# bottom, so it's fine to use relative path #}
                Contacts
            </a>
        </section>
    </body>
</html>