{% include 'navigationbar.html' %}
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/default_style.css' %}">
        <script src="{% static 'js/changeurl.js' %}"></script>
        <style>
            .todo-items-div {
                display: flex;
                flex-wrap: wrap;
                
                align-items: center;
            }

            .todo-item {
                margin: 2%;
                width: 25%;
                height: 25%;
            }
        </style>
    </head>
    <body>
        <h1>Current to-dos</h1>
        <section>
            <div class="todo-items-div">
                {% for todo in todos %}
                    <div class="rounded-section todo-item">
                        <button onclick="changeURL('delete-todo/{{todo.id}}')" style="text-align: right; background-color: red">
                        X
                        </button>
                        <button onclick="changeURL('modify-todo/{{todo.id}}')">{{todo.title}}</button><br>
                        <p>Due date: {{todo.due_date}}</p>
                        <p>Completed: {{todo.completed}}</p>
                    </div>
                {% endfor %}
            </div>
            <button onclick="changeURL('create-todo')">Create a new to-do</button><br>
        </section>
    </body>
</html>

{% include 'contacts.html' %}

