{% include 'navigationbar.html' %}
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/default_style.css' %}">
        <script src="{% static 'js/changeurl.js' %}"></script>
        <style>
            .todo-items-div {
                display: flex;
                flex-wrap: wrap;
                
                align-items: center;
            }

            .todo-item {
                margin: 2%;
                width: 25%;
                height: 25%;
            }
        </style>
    </head>
    <body>
        <h1>Current to-dos</h1>
        <section class="rounded-section">
            <a href="{% url 'todo-home' %}"><button>All</button></a>
            {% for subject in subjects %}
                <!-- question mark is used for key word argument (?query=xxx) etc. -->
                <a href="{% url 'todo-home' %}?q={{subject.name}}"><button>{{subject.name}}</button></a>
            {% endfor %}
        </section>
        <section>
            <div class="todo-items-div">
                {% for todo in todos %}
                    <div class="rounded-section todo-item">
                        <a href="{% url 'delete-todo' todo.id %}">
                            <button style="text-align: right; background-color: red">X</button>
                        </a>
                        <a href="{% url 'modify-todo' todo.id %}">
                            <button>{{todo.title}}</button><br>
                        </a>
                        <p>Subject: {{todo.subject}} </p>
                        <p>Due date: {{todo.due_date}}</p>
                        <p>Completed: {{todo.completed}}</p>
                    </div>
                {% endfor %}
            </div>
            <a href="{% url 'create-todo' %}"><button>Create a new to-do</button><br></a>
        </section>
    </body>
</html>

{% include 'contacts.html' %}

